<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spatial Coursework</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="static/css/font-awesome.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="static/css/style.css">

    <!-- lightbox -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">

</head>
<body>
<header class="site-header">
    <div class="site-branding">
        <h1 class="site-title"><a href="#" rel="home"><img src="static/img/world_energy_logo.png" width=50 alt="Logo"></a></h1>
    </div><!-- .site-branding -->

    <div class="hamburger-menu">
        <div class="menu-icon">
            <img src="static/img/menu-icon.png" alt="menu icon" data-title="A random title">
        </div><!-- .menu-icon -->

        <div class="menu-close-icon">
            <img src="static/img/x.png" alt="menu close icon">
        </div><!-- .menu-close-icon -->
    </div><!-- .hamburger-menu -->
</header><!-- .site-header -->

<nav class="site-navigation flex flex-column justify-content-between">
    <div class="site-branding d-none d-lg-block ">
        <h1 class="site-title"><a href="#" rel="home"><img src="static/img/world_energy_logo_grey.png" width=150 alt="Logo"></a></h1>
    </div><!-- .site-branding -->

    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="main-menu flex flex-column justify-text-center">
                    <p>This page contains submissions of maps made by the 19/20 cohort of UCL's Spatial Analysis of Energy Data course</p>
                    <p>The students were tasked with creating a visualisation which utilised energy data of their choice</p>
                </div>
            </div>
        </div>
    </div>

</nav><!-- .site-navigation -->

<div class="nav-bar-sep d-lg-none"></div>

<div class="outer-container">
    <br>

    <div class="container portfolio-page">
        <div class="row">

            {% with %}
            {% set id="#HSBT4" %}
            {% set text="Nuclear Power Plants in South Korea" %}
            {% set path="static/img/maps/HSBT4.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#DQVF4" %}
            {% set text="Efficiency of photovoltaic panels and population density in Malawi" %}
            {% set path="static/img/maps/DQVF4.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#GWMH2" %}
            {% set text="Wind & Solar Power in Isolated Rural Areas of Mexico" %}
            {% set path="static/img/maps/GWMH2.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#HHFB9" %}
            {% set text="London Zero Carbon Potential" %}
            {% set path="static/img/maps/HHFB9.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#DNNT1" %}
            {% set text="Fuel Poverty Across England" %}
            {% set path="static/img/maps/DNNT1.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#DPKH4" %}
            {% set text="Solar Power Plants and Solar Potential Distributuion in China" %}
            {% set path="static/img/maps/DPKH4.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#DVTW4" %}
            {% set text="Evolution of Renewable Energy in Chile" %}
            {% set path="static/img/maps/DVTW4.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#FMRH8" %}
            {% set text="Estimation of Annual Electricity Consumption of Charging Stations in London" %}
            {% set path="static/img/maps/FMRH8.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#FRZY8" %}
            {% set text="Lao Annual Precipitation" %}
            {% set path="static/img/maps/FRZY8.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#FVZV7" %}
            {% set text="Germany's Cross-Border Electricity Flows" %}
            {% set path="static/img/maps/FVZV7.gif" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#FWRQ9" %}
            {% set text="Africa Grid Efficiency and Electricity Consumption" %}
            {% set path="static/img/maps/FWRQ9.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#FXRY0" %}
            {% set text="Afghanistan Wind Power" %}
            {% set path="static/img/maps/FXRY0.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#GSJP1" %}
            {% set text="Comparison between Mexico Wind Farm’s Capacity and Wind Power Potential" %}
            {% set path="static/img/maps/GSJP1.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#HQCJ5" %}
            {% set text="Local Air Pollution in London" %}
            {% set path="static/img/maps/HQCJ5.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#HJRZ1" %}
            {% set text="New Zealand Offshore Wind Potential" %}
            {% set path="static/img/maps/HJRZ1.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#DZQN2" %}
            {% set text="Solar Power Potential in Peru" %}
            {% set path="static/img/maps/DZQN2.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#HSDN8" %}
            {% set text="Potential Risk of Electricity Transmission Grid in California" %}
            {% set path="static/img/maps/HSDN8.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#HSWW0" %}
            {% set text="Solar-PV Resource Exploitation: Yorkshire & the Humber Region" %}
            {% set path="static/img/maps/HSWW0.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#HWWB7" %}
            {% set text="Onshore Wind Potential in Africa" %}
            {% set path="static/img/maps/HWWB7.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#HYSV9" %}
            {% set text="Potential for Onshore Wind in Morbihan, France" %}
            {% set path="static/img/maps/HYSV9.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#HYZK3" %}
            {% set text="Scotland's Carbon Neutral Backgrounds" %}
            {% set path="static/img/maps/HYZK3.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#JBWD04" %}
            {% set text="U.S. Mainland Switchgrass Energy Distribution" %}
            {% set path="static/img/maps/JBWD04.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#HVTM0" %}
            {% set text="Electric Vehicle & Pollution Patterns in London" %}
            {% set path="static/img/maps/HVTM0.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#FRCH8" %}
            {% set text="Energy Storage Projects in England & Wales" %}
            {% set path="static/img/maps/FRCH8.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#DYJQ7" %}
            {% set text="Average Domestic Energy Consumption in London" %}
            {% set path="static/img/maps/DYJQ7.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#FDQX2" %}
            {% set text="Distribution of Power Generators in India" %}
            {% set path="static/img/maps/FDQX2.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#FVLW0" %}
            {% set text="Tsunami Impact on Japan’s Nuclear Power Plants" %}
            {% set path="static/img/maps/FVLW0.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#GDNY3" %}
            {% set text="Solar Energy Resource & Production in China" %}
            {% set path="static/img/maps/GDNY3.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#GFMV5" %}
            {% set text="Wind Energy Resource & Capacity in Kazakhstan" %}
            {% set path="static/img/maps/GFMV5.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#GYKM7" %}
            {% set text="Existing Battery Installations in the UK and Suitable Sites for New Capacity" %}
            {% set path="static/img/maps/GYKM7.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#JGJX2" %}
            {% set text="Indonesia Solar PV Microgrid Potential Index" %}
            {% set path="static/img/maps/JGJX2.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#HSRZ2" %}
            {% set text="Energy Efficiency of London Underground Lines" %}
            {% set path="static/img/maps/HSRZ2.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#JGZP4" %}
            {% set text="Optimum Location of Wind Power in Nigeria" %}
            {% set path="static/img/maps/JGZP4.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#HRJT7" %}
            {% set text="EV Charging Infrastructure & Population Density in Hong Kong" %}
            {% set path="static/img/maps/HRJT7.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#EOKOR82" %}
            {% set text="Tidal Energy Potential to Power the Nigerian Rail Sector" %}
            {% set path="static/img/maps/EOKOR82.png" %}
            {% include "components/map.html" %}
            {% endwith %}

        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .outer-container -->

{% with %}
{% set id="EOKOR82" %}
{% set text="Tidal Energy Potential to Power the Nigerian Rail Sector" %}
{% set path="static/img/maps/EOKOR82.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="DQVF4" %}
{% set text="Efficiency of photovoltaic panels and population density in Malawi" %}
{% set path="static/img/maps/DQVF4.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="GWMH2" %}
{% set text="Wind & Solar Power in Isolated Rural Areas of Mexico" %}
{% set path="static/img/maps/GWMH2.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="HSBT4" %}
{% set text="Nuclear Power Plants in South Korea" %}
{% set path="static/img/maps/HSBT4.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="DNNT1" %}
{% set text="Fuel Poverty Across England" %}
{% set path="static/img/maps/DNNT1.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="DPKH4" %}
{% set text="Solar Power Plants and Solar Potential Distributuion in China" %}
{% set path="static/img/maps/DPKH4.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="DVTW4" %}
{% set text="Evolution of Renewable Energy in Chile" %}
{% set path="static/img/maps/DVTW4.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="DZQN2" %}
{% set text="Solar Power Potential in Peru" %}
{% set path="static/img/maps/DZQN2.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="FMRH8" %}
{% set text="Estimation of Annual Electricity Consumption of Charging Stations in London" %}
{% set path="static/img/maps/FMRH8.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="FRZY8" %}
{% set text="Lao Annual Precipitation" %}
{% set path="static/img/maps/FRZY8.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="FVZV7" %}
{% set text="Germany's Cross-Border Electricity Flows" %}
{% set path="static/img/maps/FVZV7.gif" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="FWRQ9" %}
{% set text="Africa Grid Efficiency and Electricity Consumption" %}
{% set path="static/img/maps/FWRQ9.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="FXRY0" %}
{% set text="Afghanistan Wind Power" %}
{% set path="static/img/maps/FXRY0.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="GSJP1" %}
{% set text="Comparison between Mexico Wind Farm’s Capacity and Wind Power Potential" %}
{% set path="static/img/maps/GSJP1.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="HHFB9" %}
{% set text="London Zero Carbon Potential" %}
{% set path="static/img/maps/HHFB9.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="HJRZ1" %}
{% set text="New Zealand Offshore Wind Potential" %}
{% set path="static/img/maps/HJRZ1.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="HQCJ5" %}
{% set text="Local Air Pollution in London" %}
{% set path="static/img/maps/HQCJ5.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="HSDN8" %}
{% set text="Potential Risk of Electricity Transmission Grid in California" %}
{% set path="static/img/maps/HSDN8.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="HSWW0" %}
{% set text="Solar-PV Resource Exploitation: Yorkshire & the Humber Region" %}
{% set path="static/img/maps/HSWW0.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="HWWB7" %}
{% set text="Onshore Wind Potential in Africa" %}
{% set path="static/img/maps/HWWB7.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="HYSV9" %}
{% set text="Potential for Onshore Wind in Morbihan, France" %}
{% set path="static/img/maps/HYSV9.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="HYZK3" %}
{% set text="Scotland's Carbon Neutral Backgrounds" %}
{% set path="static/img/maps/HYZK3_full.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="JBWD04" %}
{% set text="U.S. Mainland Switchgrass Energy Distribution" %}
{% set path="static/img/maps/JBWD04.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="HVTM0" %}
{% set text="Electric Vehicle & Pollution Patterns in London" %}
{% set path="static/img/maps/HVTM0.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="FRCH8" %}
{% set text="Energy Storage Projects in England & Wales" %}
{% set path="static/img/maps/FRCH8.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="DYJQ7" %}
{% set text="Average Domestic Energy Consumption in London" %}
{% set path="static/img/maps/DYJQ7.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="FDQX2" %}
{% set text="Distribution of Power Generators in India" %}
{% set path="static/img/maps/FDQX2.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="FVLW0" %}
{% set text="Tsunami Impact on Japan’s Nuclear Power Plants" %}
{% set path="static/img/maps/FVLW0.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="GDNY3" %}
{% set text="Solar Energy Resource & Production in China" %}
{% set path="static/img/maps/GDNY3.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="GFMV5" %}
{% set text="Wind Energy Resource & Capacity in Kazakhstan" %}
{% set path="static/img/maps/GFMV5.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="GYKM7" %}
{% set text="Existing Battery Installations in the UK and Suitable Sites for New Capacity" %}
{% set path="static/img/maps/GYKM7.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="JGJX2" %}
{% set text="Indonesia Solar PV Microgrid Potential Index" %}
{% set path="static/img/maps/JGJX2.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="HSRZ2" %}
{% set text="Energy Efficiency of London Underground Lines" %}
{% set path="static/img/maps/HSRZ2.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="JGZP4" %}
{% set text="Optimum Location of Wind Power in Nigeria" %}
{% set path="static/img/maps/JGZP4.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="HRJT7" %}
{% set text="EV Charging Infrastructure & Population Density in Hong Kong" %}
{% set path="static/img/maps/HRJT7.png" %}
{% include "components/modal.html" %}
{% endwith %}

<script type='text/javascript' src='static/js/jquery.js'></script>
<script type='text/javascript' src='static/js/custom.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js'></script>

<script type="text/javascript">
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>

</body>
</html>