<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spatial Coursework</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="static/css/font-awesome.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="static/css/style.css">

    <!-- lightbox -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">

</head>
<body>
<header class="site-header">
    <div class="site-branding">
        <h1 class="site-title"><a href="#" rel="home"><img src="static/img/world_energy_logo.png" width=50 alt="Logo"></a></h1>
    </div><!-- .site-branding -->

    <div class="hamburger-menu">
        <div class="menu-icon">
            <img src="static/img/menu-icon.png" alt="menu icon" data-title="A random title">
        </div><!-- .menu-icon -->

        <div class="menu-close-icon">
            <img src="static/img/x.png" alt="menu close icon">
        </div><!-- .menu-close-icon -->
    </div><!-- .hamburger-menu -->
</header><!-- .site-header -->

<nav class="site-navigation flex flex-column justify-content-between">
    <div class="site-branding d-none d-lg-block ">
        <h1 class="site-title"><a href="#" rel="home"><img src="static/img/world_energy_logo_grey.png" width=150 alt="Logo"></a></h1>
    </div><!-- .site-branding -->

    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="main-menu flex flex-column justify-text-center">
                    This page contains submissions of maps made by the 19/20 cohort of UCL's Spatial Analysis of Energy Data course
                </div>
            </div>
        </div>
    </div>

</nav><!-- .site-navigation -->

<div class="nav-bar-sep d-lg-none"></div>

<div class="outer-container">
    <br>

    <div class="container portfolio-page">
        <div class="row">

            {% with %}
            {% set id="#EOKOR82" %}
            {% set text="Tidal Energy Potential to Power the Nigerian Rail Sector" %}
            {% set path="static/img/maps/EOKOR82.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#DQVF4" %}
            {% set text="Efficiency of photovoltaic panels and population density in Malawi" %}
            {% set path="static/img/maps/DQVF4.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#GWMH2" %}
            {% set text="Wind & Solar Power in Isolated Rural Areas of Mexico" %}
            {% set path="static/img/maps/GWMH2.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#HSBT4" %}
            {% set text="Nuclear Power Plants in South Korea" %}
            {% set path="static/img/maps/HSBT4.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#DNNT1" %}
            {% set text="Fuel Poverty Across England" %}
            {% set path="static/img/maps/DNNT1.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#DPKH4" %}
            {% set text="Solar Power Plants and Solar Potential Distributuion in China" %}
            {% set path="static/img/maps/DPKH4.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#DVTW4" %}
            {% set text="Evolution of Renewable Energy in Chile" %}
            {% set path="static/img/maps/DVTW4.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#DZQN2" %}
            {% set text="Solar Power Potential in Peru" %}
            {% set path="static/img/maps/DZQN2.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#FMRH8" %}
            {% set text="Estimation of Annual Electricity Consumption of Charging Stations in London" %}
            {% set path="static/img/maps/FMRH8.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#FRZY8" %}
            {% set text="Lao Annual Precipitation" %}
            {% set path="static/img/maps/FRZY8.png" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#FVZV7" %}
            {% set text="Germany's Cross-Border Electricity Flows" %}
            {% set path="static/img/maps/FVZV7.gif" %}
            {% include "components/map.html" %}
            {% endwith %}

            {% with %}
            {% set id="#FWRQ9" %}
            {% set text="Africa Grid Efficiency and Electricity Consumption" %}
            {% set path="static/img/maps/FWRQ9.png" %}
            {% include "components/map.html" %}
            {% endwith %}

        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .outer-container -->

{% with %}
{% set id="EOKOR82" %}
{% set text="Tidal Energy Potential to Power the Nigerian Rail Sector" %}
{% set path="static/img/maps/EOKOR82.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="DQVF4" %}
{% set text="Efficiency of photovoltaic panels and population density in Malawi" %}
{% set path="static/img/maps/DQVF4.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="GWMH2" %}
{% set text="Wind & Solar Power in Isolated Rural Areas of Mexico" %}
{% set path="static/img/maps/GWMH2.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="HSBT4" %}
{% set text="Nuclear Power Plants in South Korea" %}
{% set path="static/img/maps/HSBT4.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="DNNT1" %}
{% set text="Fuel Poverty Across England" %}
{% set path="static/img/maps/DNNT1.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="DPKH4" %}
{% set text="Solar Power Plants and Solar Potential Distributuion in China" %}
{% set path="static/img/maps/DPKH4.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="DVTW4" %}
{% set text="Evolution of Renewable Energy in Chile" %}
{% set path="static/img/maps/DVTW4.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="DZQN2" %}
{% set text="Solar Power Potential in Peru" %}
{% set path="static/img/maps/DZQN2.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="FMRH8" %}
{% set text="Estimation of Annual Electricity Consumption of Charging Stations in London" %}
{% set path="static/img/maps/FMRH8.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="FRZY8" %}
{% set text="Lao Annual Precipitation" %}
{% set path="static/img/maps/FRZY8.png" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="FVZV7" %}
{% set text="Germany's Cross-Border Electricity Flows" %}
{% set path="static/img/maps/FVZV7.gif" %}
{% include "components/modal.html" %}
{% endwith %}

{% with %}
{% set id="FWRQ9" %}
{% set text="Africa Grid Efficiency and Electricity Consumption" %}
{% set path="static/img/maps/FWRQ9.png" %}
{% include "components/modal.html" %}
{% endwith %}

<script type='text/javascript' src='static/js/jquery.js'></script>
<script type='text/javascript' src='static/js/custom.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js'></script>

<script type="text/javascript">
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>

</body>
</html>